$link-color: #07d;
$link-hover-color: #41a7ff;
$dimmed-color: #777;
$divider-color: #eee;


$default-font-family: 'Hind Vadodara', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$default-font-family: 'myriad-pro', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$default-font-family: 'Inter', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

$monospace-font-family: Monaco, monospace;

$prose-font-family: 'myriad-pro', 'Inter', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$prose-font-family: 'Hind Siliguri';

$small-font-size: 12px;
$regular-font-size: 14px;
$large-font-size: 16px;

$left-icon: '\e912';

@mixin text-spacing {
  letter-spacing: .02em;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@mixin vertical-gradient($from,$to) {
  background: -webkit-gradient(linear, 0% 0%, 0% 100% , from($from), to($to));
  background: -moz-linear-gradient(top, $from, $to);
  background: linear-gradient($from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}

@mixin if($params:()) {
  @if (map-has-key($params, width)) {
    @media screen and (min-width: #{map-get($params,'width')}) {
      @content;
    }
  }
  @else {
    @content;
  }
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}

@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}

@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:    $timing;
  -o-transition-timing-function:      $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function:         $timing;
}

@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}

$icons : (
  quote : '\e902',
  hypothesis : '\e901',
  question : '\e903',
  star_line : '\e609',
  check: '\e918',
  star: '\e919'
);

@mixin icon($icon) {
  @if map-has-key($icons, $icon) {
    content: map-get($icons, $icon);
  } @else {
    content: $icon;
  }
  font-family: 'OnlineObjects';
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  @content;
}

@mixin icon-before($icon) {
  &:before {
    @include icon($icon) {
      line-height: 1;
      font-weight: normal;
      @content;
    }
  }
}