@use "sass:map";
$link-color: #07f;
$link-hover-color: #038;
$dimmed-color: #777;
$light-color: #999;
$divider-color: #eee;
$error-text-color: #f03;


$default-font-family: 'Hind Vadodara', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$default-font-family: 'myriad-pro', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$default-font-family: 'Inter', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

$monospace-font-family: Monaco, monospace;

$prose-font-family: 'myriad-pro', 'Inter', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$prose-font-family: 'Hind Siliguri', 'Inter', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

$small-font-size: 12px;
$regular-font-size: 14px;
$large-font-size: 16px;

$left-icon: '\e912';

@mixin text-spacing {
  letter-spacing: .02em;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@mixin vertical-gradient($from,$to) {
  background: -webkit-gradient(linear, 0% 0%, 0% 100% , from($from), to($to));
  background: -moz-linear-gradient(top, $from, $to);
  background: linear-gradient($from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}

@mixin if($params:()) {
  @if (map.has-key($params, width)) {
    @media screen and (min-width: #{map.get($params,'width')}) {
      @content;
    }
  }
  @else {
    @content;
  }
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}

@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}

@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:    $timing;
  -o-transition-timing-function:      $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function:         $timing;
}

@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}

$icons : (
  check: '\e918',
  star: '\e919',

  app_people: '\e91a',
  app_knowledge: '\e91b',
  app_photos: '\e91c',
  app_words: '\e91d',
  trash: '\e900',
  close_line: '\e610',
  view_line: '\e60d',
  delete_line: '\e60e',
  archive_line: '\e60f',
  document_line: '\e604',
  relations_line: '\e605',
  bubble_line: '\e606',
  gear_line: '\e607',
  documents_line: '\e608',
  star_line: '\e609',
  tag_line: '\e60a',
  inbox_line: '\e60b',
  add_line: '\e60c',
  hypothesis: '\e901',
  quote: '\e902',
  question: '\e903',
  view_grid: '\e600',
  view_list: '\e601',
  view_cards: '\e602',
  view_masonry: '\e603',
  arrow_right: '\3e',
  arrow_left: '\3c',
  download: '\64',
  expand: '\78',
  user: '\75',
  onlineobjects: '\a4',
  at: '\40',
  globe: '\67',
  envelope: '\65',
  tag: '\74',
  globus: '\47',
  phone: '\70',
  warning: '\77',
  camera: '\63',
  file: '\66',
  time: '\54',
  dimensions: '\44',
  book: '\62',
  delete: '\2a',
  share: '\23',
  album: '\6c',
  add: '\2b',
  edit: '\3d',
  present: '\21',
  info: '\69',
  photos: '\5e',
  close: '\6b',
  gear: '\22',
  info_light: '\27',
  first: '\28',
  statistics: '\25',
  search: '\24',
  marker: '\26',
  inbox: '\29',
  locked: '\2c',
  support: '\2d',
  list_bullet: '\2e',
  humanise: '\2f',
  tag_line_selected: '\e904',
  follow: '\e905',
  archive_line_selected: '\e906',
  more: '\e907',
  document_line_selected: '\e908',
  documents_line_selected: '\e909',
  star_line_selected: '\e90a',
  inbox_line_selected: '\e90b',
  user_line: '\e915',
  menu: '\e916',
  cross: '\e917',
  search_line: '\e90c',
  arrow_thin_left: '\e912',
  arrow_thin_right: '\e913',
  word: '\e91e',
  abc: '\e91f',
  hash: '\e920'
);

@mixin icon($icon) {
  @if map.has-key($icons, $icon) {
    content: map.get($icons, $icon);
  } @else {
    content: $icon;
  }
  font-family: 'OnlineObjects';
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  @content;
}

@mixin icon-before($icon) {
  &:before {
    @include icon($icon) {
      line-height: 1;
      font-weight: normal;
      @content;
    }
  }
}

@mixin icon-after($icon) {
  &:after {
    @include icon($icon) {
      line-height: 1;
      font-weight: normal;
      @content;
    }
  }
}