@import 'shared';

@import 'oo_font.scss';
@import 'oo_body.scss';

.error {
  text-align: left;
  width: 450px;
  margin: 0 auto 0;
  position: relative;
  top: 100px;
  padding: 40px 20px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;

  @include icon-before(warning) {
    font-size: 80px;
    display: block;
    color: #ddd;
  }

  &_title {
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0px 10px;
  }

  &_status {
    color: #ddd;
    font-size: 12px;
    margin: 10px 0px;
  }

  &_trace {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    line-height: 20px;
    height: 200px;
    border: 1px solid #eee;
    white-space: nowrap;
    display: none;
    &:focus {
      position: absolute;
      border-width: 1px 0px 1px 0px;
      left: 0px;
      height: 400px;
    }
  }
}