@import 'shared';

@include if {
  .oo_header {
    margin: 0;

    &-0 {
      font-size: 32px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
    }

    &-1 {
      font-size: 28px;
      font-weight: 300;
      line-height: 1;
    }

    &-2 {
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
    }

    &-3 {
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
    }
  }

}

@include if(( width: 600px )) {

  .oo_header {

    &-0 {
      font-size: 42px;
      line-height: 40px;
    }

    &-1 {
      font-size: 36px;
      line-height: 40px;
    }

    &-2 {
      font-size: 24px;
      line-height: 1;
    }

    &-3 {
      font-size: 18px;
      line-height: 1;
    }
  }
}