@import 'shared';

@include if {

  .oo_link {
    color: #ccc;
    color: rgba(0,0,0,.1);

    > span {
      color: #07c;
    }

    &:hover {
      color: #7CACC3;

      > span {
        color: #00476B;
      }
    }
  }
}
