@import 'shared';

@include if {
  .oo_message {
    background: #fff8c5;
    border-radius: 5px;
    color: #433d15;
    padding: 2px 10px;
    border: 1px solid #fdf19c;
    line-height: (18/14);
    > p {
      margin: 5px 0;
    }
  }
}