@import 'shared';

@include if {
  .oo_segment {
    &_title {
      border-bottom: 1px solid #ddd;
      font-size: 18px;
      padding-bottom: 5px;
    }
    &_body {
      padding: 15px 0 30px 20px;
    }
  }
}

@include if ((width: 700px)) {
  .oo_segment {
    display: flex;

    &_title {
      flex-basis: 30%;
      padding: 0;
      border: none;
      font-size: inherit;
    }

    &_body {
      flex-basis: 70%;
      padding: 0;
    }
  }
  .oo_segment + .oo_segment {
    margin-top: 15px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
  }
}