@import 'shared';

@include if {

  .oo_topbar {

    font-family: $default-font-family;
    overflow: hidden;
    border-bottom: 1px solid transparent;
    height: 30px;
    font-size: 0;
    white-space: nowrap;
    @include transition(background 1s,border-color 1s, opacity 1s, box-shadow 1s);

    &:hover {
      background: #fff;
      box-shadow: 0 0 4px rgba(0,0,0,.1);
      border-bottom: 1px solid #ddd;
    }

    &_logo {
      display: inline-block;
      font-weight: 300;
      height: 30px;
      line-height: 30px;
      padding: 0 5px 0 10px;
      font-size: 12pt;
      color: #bbb;
      text-decoration: none;
      @include transition(color .3s);

      &:focus {
        outline-offset: -4px;
      }

      &:hover {
        background: #f3f3f3;
        color: #333;
      }

      &_icon {
        font-family: 'OnlineObjects';
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        margin: 4px 0 0 -2px;
        vertical-align: top;
        display: inline-block;
        font-size: 22px;
        width: 22px;
        height: 22px;
        line-height: 1;
      }

      &_text {
        display: none;
      }
    }

    &_item {
      display: inline-block;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      padding: 0 5px;
      text-decoration: none;
      color: #bbb;
      font-weight: 300;

      &:hover {
        background: #f3f3f3;
        color: #333;
      }
    }
  }
  .oo_topbar_drop {
    position: fixed;
    top: -110%;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(255,255,255,.95);
    transition-property: top, background-color;
    transition-duration: .4s;
    overflow: auto;
    box-sizing: border-box;
    font-size: 0;
    text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    z-index: 9999;
    -webkit-tap-highlight-color: transparent;

    &.is-visible {
      top: 0%;
      background-color: rgba(255,255,255,.95);
      transition-duration: .2s;
      .oo_topbar_drop_link {
        transform: scale(1);
        opacity: 1;
        transition-delay: .2s;
      }
    }
    &_title {
      font-size: 14px;
      text-align: center;
      line-height: 20px;
      padding: 10px;
      display: block;
      color: #999;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    &_close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      padding: 10px;
      color: #999;
    }

    &_link {
      box-sizing: border-box;
      display: inline-block;
      padding: 20px 20px;
      color: #666;
      text-decoration: none;
      width: 140px;
      text-align: center;
      transform: scale(.5);
      opacity: .5;
      transition: transform .3s, opacity .3s;
      transition-delay: .3s;
      background: #fff;
    }

    &_icon {
      display: inline-block;
      font-size: 56px;
      width: 56px;
      height: 56px;
      line-height: 1;
    }

    &_label {
      margin-top: 5px;
      display: block;
      font-size: 18px;
    }
  }

  .oo_topbar_menu
  {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    &_item {
      display: none;

      &.is-selected {
        display: inline-block;
      }
    }

    &_link
    {
      text-decoration: none;
      &.is-selected {
        font-weight: 400;
        color: #333;
        position: relative;
        padding-right: 25px;

        &:after {
          content: '';
          border: 6px solid #000;
          border-color: #aaa transparent transparent;
          position: absolute;
          top: 13px;
          right: 5px;
        }
      }
    }
  }


  .oo_topbar_right
  {
    list-style: none;
    margin: 0;
    padding: 0 5px 0 0;

    font-size: 11pt;
    right: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    position: absolute;

    &_item {
      display: inline-block;
    }
  }

  .oo_topbar_user
  {

    &_icon {
      margin-right: 4px;
      margin-top: 7px;
      vertical-align: top;
    }
  }

  .oo_topbar_inbox {
    height: 20px;
    background: #eee;
    line-height: 20px;
    font-size: 11px;
    vertical-align: top;
    margin-top: 6px;
    border-radius: 10px;
    padding: 0 5px;
    margin-right: 3px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    color: #999;

    &:hover {
      background: #ddd;
    }
  }

  /** Info panel **/

  .oo_topbar_info {
    overflow: hidden;
    font-family: $default-font-family;

    &_busy {
      height: 60px;
      background: url('../../../hui/gfx/progress/spinner_white_24.gif') center center no-repeat;
    }

    &_photo {
      width: 60px;
      height: 60px;
      float: left;
      font-size: 0;

      &_img {
        width: 60px;
        height: 60px;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        overflow: hidden;
        background: #eee;
        background-size: contain;
      }
    }

    &_content {
      margin-left: 70px;
      padding-bottom: 10px;
      font-size: 11pt;
    }

    &_name {
      font-size: 13pt;
      font-weight: 500;
      margin: 0 0 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_username {
      color: #666;
      margin: 0;
    }

    &_account {
      margin: 3px 0 0;
    }

    &_buttons {
      font-size: 0;
      text-align: right;

      a {
        margin-left: 5px;
      }
    }
  }

  /************ Login *************/

  .oo_topbar_login_success
  {
    height: 50px;
    font-size: 12pt;
    color: #999;
    text-align: center;
    line-height: 50px;
  }

  .oo_topbar_forgot
  {
    font-size: 11pt;
    float: right;
    margin-top: 10px;

    &_intro
    {
      font-size: 14px;
      line-height: 12pt;
      text-align: center;
      margin: 5px 0 20px;
      color: #333;
    }
  }

}

@include if(( width: 500px )) {
  .oo_topbar {
    &_item {
      padding: 0 10px;
      &:focus {
        outline-offset: -4px;
      }
    }
    &_logo {
      &_text {
        display: inline-block;
        font-weight: 200;
        letter-spacing: 1px;
        margin-left: 5px;
      }
      &_part {
        font-weight: 400;
      }
    }
  }
}

@include if(( width: 700px )) {
  .oo_topbar {
    &_menu {
      &_item {
        display: inline-block;
      }
      &_link {
        &.is-selected {
          padding-right: 10px;

          &:after {
            display: none;
          }
        }
      }
    }
  }
}
