.oo_body {
  font-family: "Inter", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  font-size: 14px;
  line-height: 1.1428571429;
}
.oo_body-light {
  background: #fff;
}

.hui_button, .hui_form, .hui_textinput, .hui_panel_titlebar {
  font-family: "Inter", "Helvetica Neue", "Helvetica", Arial, sans-serif !important;
}

/*
.hui_button {
  @include text-spacing;
}
.oo_body {
  .hui_form_field_label {
    font-size: 14px;
    line-height: 20px;
  }
  .hui_textinput {
    font-size: 14px;
  }
  .hui_checkbox_label {
    font-size: 14px;
  }
  .hui_button {
    font-size: 10pt;
  }
}*/