.oo_gallerylink {
  display: block;
  padding-left: 72px;
  position: relative;
  min-height: 62px;
  color: inherit;
  text-decoration: none;
}
.oo_gallerylink_image {
  position: absolute;
  background: #eee;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 2px;
}
.oo_gallerylink_image:nth-child(1) {
  top: 0;
  left: 0;
}
.oo_gallerylink_image:nth-child(2) {
  top: 0;
  left: 32px;
}
.oo_gallerylink_image:nth-child(3) {
  top: 32px;
  left: 0;
}
.oo_gallerylink_image:nth-child(4) {
  top: 32px;
  left: 32px;
}
.oo_gallerylink_title {
  display: block;
  line-height: 16px;
  padding: 8px 0 0;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
}
.oo_gallerylink_info {
  display: block;
  color: #555;
  padding: 2px 0;
  font-size: 12px;
}

.oo_gallerylink_compact {
  display: flex;
  padding-left: 68px;
  position: relative;
  min-height: 40px;
  color: inherit;
  text-decoration: none;
  align-items: center;
}
.oo_gallerylink_compact_image {
  position: absolute;
  background: #eee;
  background-size: cover;
  width: 36px;
  height: 36px;
  border-radius: 2px;
}
.oo_gallerylink_compact_image:nth-child(1) {
  top: 0;
  left: 0;
}
.oo_gallerylink_compact_image:nth-child(2) {
  top: 3px;
  left: 22px;
  border: 1px solid #fff;
}
.oo_gallerylink_compact_image:nth-child(3) {
  display: none;
}
.oo_gallerylink_compact_image:nth-child(4) {
  display: none;
}
.oo_gallerylink_compact_title {
  display: block;
  line-height: 14px;
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
}

.oo_gallerylink_large {
  display: block;
  padding-top: 130px;
  position: relative;
  min-height: 62px;
  color: inherit;
  text-decoration: none;
  width: 152px;
}
.oo_gallerylink_large_image {
  position: absolute;
  background: #eee;
  background-size: cover;
  width: 75px;
  height: 60px;
  border-radius: 5px;
}
.oo_gallerylink_large_image:nth-child(1) {
  top: 0;
  left: 0;
}
.oo_gallerylink_large_image:nth-child(2) {
  top: 0;
  left: 77px;
}
.oo_gallerylink_large_image:nth-child(3) {
  top: 62px;
  left: 0;
}
.oo_gallerylink_large_image:nth-child(4) {
  top: 62px;
  left: 77px;
}
.oo_gallerylink_large_title {
  display: block;
  line-height: 16px;
  padding: 8px 0 0;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  word-break: break-word;
  text-align: center;
}
.oo_gallerylink_large_info {
  display: block;
  color: #555;
  padding: 2px 0;
  font-size: 12px;
  text-align: center;
}