@charset "UTF-8";
.oo_icon {
  font-family: "OnlineObjects";
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.oo_icon-check:before {
  content: "\e918";
}
.oo_icon-star:before {
  content: "\e919";
}
.oo_icon-app_people:before {
  content: "\e91a";
}
.oo_icon-app_knowledge:before {
  content: "\e91b";
}
.oo_icon-app_photos:before {
  content: "\e91c";
}
.oo_icon-app_words:before {
  content: "\e91d";
}
.oo_icon-trash:before {
  content: "\e900";
}
.oo_icon-close_line:before {
  content: "\e610";
}
.oo_icon-view_line:before {
  content: "\e60d";
}
.oo_icon-delete_line:before {
  content: "\e60e";
}
.oo_icon-archive_line:before {
  content: "\e60f";
}
.oo_icon-document_line:before {
  content: "\e604";
}
.oo_icon-relations_line:before {
  content: "\e605";
}
.oo_icon-bubble_line:before {
  content: "\e606";
}
.oo_icon-gear_line:before {
  content: "\e607";
}
.oo_icon-documents_line:before {
  content: "\e608";
}
.oo_icon-star_line:before {
  content: "\e609";
}
.oo_icon-tag_line:before {
  content: "\e60a";
}
.oo_icon-inbox_line:before {
  content: "\e60b";
}
.oo_icon-add_line:before {
  content: "\e60c";
}
.oo_icon-hypothesis:before {
  content: "\e901";
}
.oo_icon-quote:before {
  content: "\e902";
}
.oo_icon-question:before {
  content: "\e903";
}
.oo_icon-view_grid:before {
  content: "\e600";
}
.oo_icon-view_list:before {
  content: "\e601";
}
.oo_icon-view_cards:before {
  content: "\e602";
}
.oo_icon-view_masonry:before {
  content: "\e603";
}
.oo_icon-arrow_right:before {
  content: ">";
}
.oo_icon-arrow_left:before {
  content: "<";
}
.oo_icon-download:before {
  content: "d";
}
.oo_icon-expand:before {
  content: "x";
}
.oo_icon-user:before {
  content: "u";
}
.oo_icon-onlineobjects:before {
  content: "¤";
}
.oo_icon-at:before {
  content: "@";
}
.oo_icon-globe:before {
  content: "g";
}
.oo_icon-envelope:before {
  content: "e";
}
.oo_icon-tag:before {
  content: "t";
}
.oo_icon-globus:before {
  content: "G";
}
.oo_icon-phone:before {
  content: "p";
}
.oo_icon-warning:before {
  content: "w";
}
.oo_icon-camera:before {
  content: "c";
}
.oo_icon-file:before {
  content: "f";
}
.oo_icon-time:before {
  content: "T";
}
.oo_icon-dimensions:before {
  content: "D";
}
.oo_icon-book:before {
  content: "b";
}
.oo_icon-delete:before {
  content: "*";
}
.oo_icon-share:before {
  content: "#";
}
.oo_icon-album:before {
  content: "l";
}
.oo_icon-add:before {
  content: "+";
}
.oo_icon-edit:before {
  content: "=";
}
.oo_icon-present:before {
  content: "!";
}
.oo_icon-info:before {
  content: "i";
}
.oo_icon-photos:before {
  content: "^";
}
.oo_icon-close:before {
  content: "k";
}
.oo_icon-gear:before {
  content: '"';
}
.oo_icon-info_light:before {
  content: "'";
}
.oo_icon-first:before {
  content: "(";
}
.oo_icon-statistics:before {
  content: "%";
}
.oo_icon-search:before {
  content: "$";
}
.oo_icon-marker:before {
  content: "&";
}
.oo_icon-inbox:before {
  content: ")";
}
.oo_icon-locked:before {
  content: ",";
}
.oo_icon-support:before {
  content: "-";
}
.oo_icon-list_bullet:before {
  content: ".";
}
.oo_icon-humanise:before {
  content: "/";
}
.oo_icon-tag_line_selected:before {
  content: "\e904";
}
.oo_icon-follow:before {
  content: "\e905";
}
.oo_icon-archive_line_selected:before {
  content: "\e906";
}
.oo_icon-more:before {
  content: "\e907";
}
.oo_icon-document_line_selected:before {
  content: "\e908";
}
.oo_icon-documents_line_selected:before {
  content: "\e909";
}
.oo_icon-star_line_selected:before {
  content: "\e90a";
}
.oo_icon-inbox_line_selected:before {
  content: "\e90b";
}
.oo_icon-user_line:before {
  content: "\e915";
}
.oo_icon-menu:before {
  content: "\e916";
}
.oo_icon-cross:before {
  content: "\e917";
}
.oo_icon-search_line:before {
  content: "\e90c";
}
.oo_icon-arrow_thin_left:before {
  content: "\e912";
}
.oo_icon-arrow_thin_right:before {
  content: "\e913";
}
.oo_icon-arrow_bold_down:before {
  content: "\e90d";
}
.oo_icon-arrow_bold_left:before {
  content: "\e90e";
}
.oo_icon-arrow_bold_right:before {
  content: "\e90f";
}
.oo_icon-arrow_bold_up:before {
  content: "\e910";
}
.oo_icon-arrow_thin_down:before {
  content: "\e911";
}
.oo_icon-arrow_thin_up:before {
  content: "\e914";
}
.oo_icon-word:before {
  content: "\e91e";
}
.oo_icon-abc:before {
  content: "\e91f";
}
.oo_icon-hash:before {
  content: "\e920";
}
.oo_icon-12 {
  font-size: 12px;
  line-height: 12px;
  width: 12px;
  height: 12px;
}
.oo_icon-16 {
  font-size: 16px;
  line-height: 16px;
  width: 16px;
  height: 16px;
}
.oo_icon-20 {
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
}
.oo_icon-32 {
  font-size: 32px;
  line-height: 32px;
  width: 32px;
  height: 32px;
}
.oo_icon-48 {
  font-size: 48px;
  line-height: 48px;
  width: 48px;
  height: 48px;
}