.oo_object_inline {
  position: relative;
}
.oo_object_inline_more {
  position: absolute;
  right: -12px;
  top: -12px;
  display: none;
  cursor: pointer;
  opacity: 0.3;
  padding: 3px;
  font-size: 12px;
  width: 12px;
  height: 12px;
  line-height: 1;
}
.oo_object_inline_more:before {
  content: "\e907";
  font-family: "OnlineObjects";
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  font-weight: normal;
}
.oo_object_inline:hover .oo_object_inline_more {
  display: block;
}
.oo_object_inline:hover .oo_object_inline_more:hover {
  opacity: 1;
}