.oo_text {
  line-height: 1.2142857143;
}
.oo_text-small {
  font-size: 12px;
  line-height: 1.3333333333;
}
.oo_text-prose {
  font-size: 16px;
  font-family: "Hind Siliguri", "Inter", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
.oo_text > p {
  margin: 7px 0;
}
.oo_text > h1 {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 32px;
}
.oo_text > h2 {
  margin: 20px 0 10px;
  font-weight: 600;
}
.oo_text > h3 {
  margin: 20px 0 5px;
  font-weight: 600;
}
.oo_text > blockquote {
  margin: 5px 20px;
}
.oo_text > hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}
.oo_text > ul {
  padding-left: 25px;
  margin: 7px 0;
}
.oo_text > ul > li {
  margin: 5px 0;
}
.oo_text > *:first-child {
  margin-top: 0;
}
.oo_text > *:last-child {
  margin-bottom: 0;
}
.oo_text .oo_link {
  font-weight: 500;
}

@media screen and (min-width: 700px) {
  .oo_text > h1 {
    font-size: 42px;
  }
}