@use 'shared' as *;

@use 'oo_font.scss';
@use 'oo_body.scss';

.error {
  text-align: left;
  margin: 0 auto 0;
  position: relative;
  padding: 40px 20px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  color: #555;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  @include icon-before(warning) {
    font-size: 64px;
    display: block;
  }

  &_title {
    font-weight: 600;
    font-size: 24px;
    margin: 10px 0 0;
  }

  &_status {
    color: #ddd;
    font-size: 12px;
    margin: 10px 0px;
  }

  &_trace {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    line-height: 20px;
    height: 200px;
    border: 1px solid #eee;
    white-space: nowrap;
    display: none;
    &:focus {
      position: absolute;
      border-width: 1px 0px 1px 0px;
      left: 0px;
      height: 400px;
    }
  }
}