@use 'shared' as *;

@include if {
  .oo_aqua {
    display: inline-block;
    position: relative;

    &:focus {
      outline-offset: 4px;
    }

    &:before {
      content: '';
      box-shadow: 0 15px 30px 10px rgba(0,0,0,1);
      transition: box-shadow .15s, opacity .15s;
      background: #000;
      opacity: .08;
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      border-radius: 30px;
      z-index: 0;
    }

    &_button {
      -webkit-tap-highlight-color: transparent;
      display: inline-block;
      height: 60px;
      border-radius: 30px;
      background: rgba(64, 216, 255, 0.36);
      padding: 0 35px;
      font-size: 30px;
      box-shadow: inset 0px 3px 7px 0 rgba(236, 193, 254, 0.62), inset 0px 20px 35px 6px rgba(34, 94, 182, 0.76), inset 0px -1px 8px 2px rgba(0, 49, 117, 0.15);
      color: rgba(4, 43, 70, 0.82);
      position: relative;
      font-weight: 500;
      line-height: 60px;
      text-shadow: 0 7px 5px rgba(0,0,0,.07);
      transition: box-shadow .15s, transform .15s, filter .15s;
      top: 0px;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

      animation-name: oo_aqua_bg;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
      animation-direction: alternate;

    }

    &_text {
      z-index: 1;
      position: relative;
    }

    &_button:hover {
      filter: brightness(1.2);
    }

    &:active &_button {
      /*
      box-shadow: inset 0px 3px 7px 0 #f1d0ff69, inset 0px 20px 35px 6px #3566afc2, inset 0px -1px 8px 2px #00317526, 0 5px 20px rgba(0,0,0,.15);*/
      transform: scale(.95) translate(0,10px);
    }
    &:active:before {
      top: 12px;
      box-shadow: 0 17px 10px 5px rgba(0,0,0,1);
      opacity: .11;
    }

    &_button:before {
      content: '';
      left: 16px;
      right: 16px;
      top: 5px;
      height: 18px;
      background: linear-gradient(rgba(255, 255, 255, 0.56), rgba(238, 252, 255, 0.14));
      position: absolute;
      border-radius: 40px 40px 18px 18px;
      pointer-events: none;
    }
  }
  @keyframes oo_aqua_bg {
    0% {
      box-shadow: 0 0 20px rgba(0, 205, 255, 0), inset 0px 3px 7px 0 rgba(236, 193, 254, 0.62), inset 0px 20px 35px 6px rgba(29, 103, 212, 0.76), inset 0px -1px 8px 2px rgba(0, 49, 117, 0.15);
      background: rgba(64, 216, 255, 0.36);
    }

    100% {
      box-shadow: 0 0 20px 3px rgba(0, 180, 255, 0.32), inset 0px 3px 7px 0 rgba(236, 193, 254, 0.62), inset 0px 10px 25px 6px rgba(77, 136, 224, 0.76), inset 0px -1px 8px 2px rgba(0, 49, 117, 0.15);
      background: rgba(143, 232, 255, 0.36);
    }
  }
}