@use 'shared' as *;

.oo_map {
  background-position: 50%;

  &_busy {
    opacity: .5;
  }
  
  &_content {
    border: 1px solid rgba(0,0,0,.1);
    position: relative;
    background-repeat: no-repeat;
    background-origin: border-box;
  }

  &_add {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px dashed rgba(0,0,0,.1);
    border-radius: 5px;
    text-decoration: none;
    color: #999;
    font-size: 11pt;
    &:hover {
      background: rgba(0,0,0,.02);
    }
  }

  &_pin {
    width: 29px;
    height: 30px;
    background: url('../gfx/oo_map_pin.png');
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7px;
    margin-top: -25px;
  }

  &_edit {
    position: absolute;
    right: -1px;
    bottom: -1px;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 11px;
    color: #666;
  }

  &_info {
    font-family: $default-font-family;
    padding: 5px 10px;
    font-size: 12px;

    th {
      font-weight: normal;
      text-align: right;
      color: #999;
      padding-right: 3px;
    }
  }
}