@use 'shared' as *;

.oo_object_inline {
  position: relative;
  &_more {
    position: absolute;
    right: -12px;
    top: -12px;
    cursor: pointer;
    opacity: 0;
    padding: 3px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    line-height: 1;
    @include icon-before('more');
    
    &.is-active {
      opacity: 1;
    }
  }
  &:hover &_more {
    opacity: 0.3;
    &:hover {
      opacity: 1;
    };
  }
}