@use 'shared' as *;

@include if {
  .oo_text {
    line-height: calc(17/14);

    &-small {
      font-size: 12px;
      line-height: calc(16/12);
    }

    &-prose {
      font-size: 16px;
      font-family: $prose-font-family;
    }

    > p {
      margin: 7px 0;
    }

    > h1 {
      margin: 0 0 10px;
      font-weight: 600;
      font-size: 32px;
    }

    > h2 {
      margin: 20px 0 10px;
      font-weight: 600;
    }

    > h3 {
      margin: 20px 0 5px;
      font-weight: 600;
    }

    > blockquote {
      margin: 5px 20px;
    }

    > hr {
      margin: 20px 0;
      border: none;
      border-top: 1px solid #ddd;
    }
    > ul {
      padding-left: 25px;
      margin: 7px 0;

      > li {
        margin: 5px 0;
      }
    }

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
    .oo_link {
      font-weight: 500;
    }
  }

}

@include if((width: 700px)) {
  .oo_text {
    > h1 {
      font-size: 42px;
    }
  }
}