.list {

  &_empty {
    padding: 20px;
    text-align: center;
    line-height: 18px;
    margin-bottom: 10px;

    &_text {
      display: none;
      > p {
        margin: 5px 0;
      }
    }
  }

  &_add {
    padding: 10px;
    text-align: center;
  }

  &_item {
    border-bottom: 1px solid #eee;
    padding: 5px 20px 5px 8px;
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-family: $book-font;
    font-size: 16px;

    &:hover {
      background: #f6f6f6;
    }

    &:after {
      opacity: .3;
      position: absolute;
      top: 7px;
      right: 5px;
      font-size: 14px;
      line-height: 14px;
    }

    &-selected {
      background: #36f;
      color: #fff;
      &:hover {
        background: #36f;
      }
      &:after {
        opacity: .7;
      }
    }

    &-statement {
      &:after {
        @include icon('quote');
      }
    }

    &-question {
      &:after {
        @include icon('question');
      }
    }

    &-internetaddress {
      &:after {
        @include icon('document_line');
      }
    }

    &-hypothesis {
      &:after {
        @include icon('hypothesis');
      }
    }
    &_favorite {
      @include icon-before('star');
      font-size: 14px;
      display: flex;
      color: #ffbe00;
      float: right;
      margin: 1px 2px;
    }
    &_inbox {
      position: absolute;
      top: 4px;
      right: 4px;
      width: 6px;
      height: 6px;
      background: #000;
      border-radius: 50%;
      z-index: 1;
    }
  }
}