.perspective {
  padding-bottom: 60px;
  
  &_title {
    margin: 10px auto;
    padding: 5px 20px 5px 10px;
    max-width: 500px;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: text;

    &_text {
      white-space: pre-wrap;
      font-family: $book-font;
      line-height: 1.3;
      font-size: 18px;
      text-align: center;
      font-weight: normal;
    }

    &:hover {
      background: rgb(250,250,250);
    }

    &_edit {
      position: absolute;
      @include icon-before('edit') {
        vertical-align: middle;
      };
      right: 5px;
      top: 50%;
      color: #777;
      font-size: 14px;
      margin-top: -10px;
      line-height: 1;
      text-align: center;
      width: 20px;
      height: 20px;
      opacity: 0;
      cursor: pointer;
      border-radius: 3px;
      padding: 2px;
      box-sizing: border-box;
      &:hover {
        background: rgba(220,220,220,.7);
        color: #333;
      }
    }

    &:hover &_edit {
      opacity: 1;
    }

    textarea {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: -0.2em;
      padding: 0;
      resize: none;
      -webkit-appearance: none;
      border: none;
      display: none;
      margin: 0;
      background: inherit;
      color: inherit;
      width: 100%;
      box-sizing: border-box;
      padding: 5px 20px 5px 10px;
    }
    &.is-active textarea {
      display: block;
    }

    &.is-active div.perspective_title_text {
      color: transparent;
    }
  }

  &_heading {
    font-family: 'Inter', sans-serif;
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    margin: 20px 10px 10px;
  }
  
  &_relations {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &_relation {
    font-family: 'Lora', Georgia, serif;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    line-height: 18px;

    &:hover {
      background: rgb(250,250,250);
    }

    &_message {
      color: #777;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      text-align: center;
    }

    &_info {
      color: #777;
      font-size: 12px;
      font-family: 'Inter', sans-serif;
    }

    &_remove {
      @include icon-before('delete_line') {
        vertical-align: top;
      }
      vertical-align: top;
      line-height: 1;
      position: absolute;
      font-size: 14px;
      top: 50%;
      right: 5px;
      margin-top: -10px;
      padding: 3px;
      border-radius: 3px;
      opacity: 0;
      color: #777;
      background: rgba(250,250,250,.5);
      &:hover {
        background: rgba(220,220,220,.7);
        color: #333;
      }
    }
    &:hover &_remove {
      opacity: 1;
    }
  }

  &_actions {
    text-align: center;
    margin: 10px;
  }
}