@use '../../../core/scss/shared' as *;

.photos_photo {
  
  &_body {
    padding: 20px;
  }
  
  .oo_map {
    margin: 20px auto 0;
  }
  
  &_info {
    position: relative;
    padding-left: 100px;
    min-height: 80px;
  }
  
  &_aside {
    margin-top: 20px;
  }

  &_avatar {
    position: absolute;
    top: 0;
    left: 0;
  }

  &_title {
    font-weight: 500;
    margin: 0 0 10px;
    line-height: 1;
  }

  &_by {
    margin: 5px 0 0;
  }

  &_description {
    line-height: 20px;
  }
  &_words {
    margin: 10px 0 0;
  }
}

@media (min-width: 700px) {
  .photos_photo {
    &_body {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
    }
  
    &_main {
      flex-basis: 70%;
      padding-right: 20px;
    }

    &_aside {
      margin-top: 0;
      flex-basis: 30%;
      border-left: 1px solid #eee;
      padding-left: 20px;
    }
  }
  
}


h1.photos_photo_not_found {
  font-weight: 100;
  padding: 50px 0;
  text-align: center;
  color: #999;
}

.photos_photo {
  &_image {
    position: relative;
    font-size: 0;
    height: 80vh;
    max-height: 800px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

    &.is-loaded {
      background: none;
    }

    &.is-dropping {
      opacity: .5;
    }
    picture {
      object-fit: contain;
      display: block;
      width: 100%;
      height: 100%;
    }
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      display: block;
      
    }

    &_background {
      background: -webkit-radial-gradient(center, ellipse cover, #fff 0%,#f3f3f3 100%);
    }
    /*
    > img {
      width: auto;
      height: 100%;
    }
    &.is-vertical > img {
      width: 100%;
      height: auto;
    }*/
  }
  &_previous,
  &_next {
    position: absolute;
    display: flex;
    padding: 60px 11px;
    font-size: 40px;
    top: 50%;
    margin-top: -80px;
    color: #fff;
    /*
    border-radius: 10px;
    background: rgba(0,0,0,.1);
    */
    text-shadow: 0 0 3px rgba(0,0,0,.5);
    line-height: 1;
    text-decoration: none;
  }
  &_previous {
    @include icon-before('arrow_thin_left');
    left: 0px;
  }
  &_next {
    @include icon-before('arrow_thin_right');
    right: 0px;
  }
}

.photos_photo_debug {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  font-size: 12px;
  background: rgba(255,255,255,.5);
  padding: 3px 5px;
  line-height: 1;
  border-radius: 3px;
}

.photos_photo_image_progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photos_photo_image_vertical {
  position: relative;
}

.photos_photo_image_vertical img {
  position: absolute;
  left: 0;
}

.photos_photo_properties {
  padding: 20px 0px 0;
}

.photos_photo_property {
  margin: 0 0 10px;
  display: flex;

  strong {
    font-weight: inherit;
    color: $dimmed-color;
    flex-basis: 62px;
    text-align: right;
    padding-right: 10px;
    flex-shrink: 0;
  }
}


p.photos_photo_words a {
  color: #333;
}



.photos_photo_galleries {
  h2 {
    font-weight: 400;
    font-size: $large-font-size;
    margin: 15px 0 5px;
    color: $dimmed-color;
  }
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    
  }
  li + li {
    margin-top: 10px;
  }
}