@use '../../../../core/web/scss/shared' as *;

.photos_profile {
  overflow: hidden;

  &_body {
    margin-left: 90px;
  }

  &_photo {
    float: left;
  }

  &_name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 3px;
  }

  &_username {
    &:before {
      content: '@';
      margin-right: 3px;
    };
    color: $dimmed-color;
  }

  &_link {
    margin: 5px 0 0;
  }
}