@use '../../../core/scss/shared' as *;

.photos_layout
{
  margin-bottom: 40px;
}

@media(min-width: 700px) {
  

  .photos_layout_split {
    display: flex;
  
    &_main {
      //flex-basis: 80%;
      flex-grow: 1;
      word-break: break-word;
    }
  
    &_aside {
      border-left: 1px solid $divider-color;
      flex-basis: 280px;
      flex-shrink: 0;
      word-break: break-word;
    }
    
  }
  
}