<?xml version="1.0" encoding="UTF-8"?>
<gui xmlns="uri:hui" title="App" adaptive="true">
  <source name="galleriesSource" url="/app/galleries.json"/>
  <source name="imagesSource" url="/app/photos.json">
    <parameter key="gallery"/>
  </source>
  <controller url="/js/app.js"/>

  <foundation name="foundation">
    <navigation>
      <overflow>
        <selection value="latest" name="selector">
          <option text="Alle billeder" icon="common/image" value="all"/>
          <option text="Seneste" icon="common/time" value="latest"/>
          <title>Album</title>
          <option text="Personer" icon="common/folder" value="1"/>
          <options source="galleriesSource"/>
        </selection>
      </overflow>
    </navigation>
    <results>
      <bar variant="layout">
        <segmented value="gallery" name="viewToggle">
          <option icon="view/list" value="list"/>
          <option icon="view/gallery" value="gallery"/>
        </segmented>
        <wide>
          <searchfield adaptive="true"/>
        </wide>
      </bar>
      <overflow>
        <fragment name="listView" visible="false">
          <list/>
        </fragment>
        <fragment name="galleryView" visible="true">
          <gallery name="gallery" source="imagesSource"/>
        </fragment>
      </overflow>
    </results>
    <actions>
      <bar>
        <button text="Add" size="small" name="add"/>
        <flexible/>
        <button symbol="left" size="small" name="goPrevious"/>
        <button symbol="right" size="small" name="goNext"/>
      </bar>
    </actions>
    <content>
      <div id="image" style="height: 100%; display: flex; justify-content: center; align-content: center;">
      </div>
      <!--
      <fragment name="contentView" height="full"/>
        -->
    </content>
  </foundation>
    
  <panel name="adder" title="Add something" width="300" padding="10" auto-hide='true'>
    <form name="addForm">
      <fields>
        <field label="Title">
          <text-input/>
        </field>
      </fields>
      <buttons>
        <button text="Add" highlighted="true"/>
      </buttons>
    </form>
  </panel>
</gui>