<?xml version="1.0" encoding="UTF-8"?>
<gui xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="uri:hui ../../../../hui/xslt/schema.xsd" xmlns="uri:hui" title="App" globals="false">
  <controller url="/app/app.js"/>
  <style url="/css/app.css"/>


  <foundation name="foundation">
    <navigation>
      <overflow>
        <selection value="everything" name="subsetSelection">
          <option value="everything"><span class="selection selection-everything">Everything</span></option>
          <option value="latest" text="Latest" symbol="add"/>
        </selection>
      </overflow>
    </navigation>
    <results>
      <bar variant="layout">
        <searchfield adaptive="true" name="search"/>
      </bar>
      <overflow>
        <collection name="list"
          selectable="true"
          class="list"
          selection-class="list_item-selected"
        >
          <empty>Someday something wil appear</empty>
        </collection>

        <div class="list_add">
          <button text="Add something..." name="listAddButton"/>
        </div>
        <!--
        <list name="list" variant="light"/>
        -->
      </overflow>
    </results>
    <actions>
      <bar>
        <button symbol="left" small="true" name="goBack"/>
        <button symbol="right" small="true" name="goForward"/>
        <button icon="common/new" text="Add" small="true" name="addButton"/>
        <flexible/>
        <button text="Delete" small="true" name="deleteObject">
          <confirm text="Are you sure?"/>
        </button>
        <button text="Add word" small="true" name="addWord"/>
        <button text="Add tag" small="true" name="addTag"/>
        <divider/>
        <checkbox text="Favorite" name="favorite"/>
        <checkbox text="Inbox" name="inbox"/>
        <segmented value="formatted" name="viewMode">
          <option text="Formatted" value="formatted"/>
          <option text="Text" value="text"/>
        </segmented>
      </bar>
    </actions>
    <content>
      <overflow shadow-variant="white" name="mainScroller">
        <fragment name="intro">
          <div class="intro">
            <div class="intro_graphic"> </div>
            <p class="intro_title">Knowledge</p>
            <ul>
              <li><em>Store web pages</em> and read them <em>distraction free</em></li>
              <li><em>Highlight statements</em> on stored web pages</li>
              <li>Relate statements as <em>answers</em> to <em>questions</em></li>
              <li>Mark statements as <em>supporting</em> or <em>contradicting</em> <em>hypotheses</em></li>
            </ul>
          </div>
        </fragment>

      </overflow>
    </content>
    <!--      
    <details>
      <overflow>
      <form padding="10">
        <fields labels="above">
          <field label="Title">
            <text-input/>
          </field>
          <field label="Authors">
            <object-input/>
          </field>
        </fields>
        <buttons>
          <button text="Update" submit="true" highlighted="true"/>
        </buttons>
      </form>
      </overflow>
    </details>
      -->
  </foundation>


</gui>