@import 'shared';
@import '../../../../core/web/scss/oo_font.scss';
@import 'parts/app_hui.scss';
@import 'parts/list.scss';

.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;

  &_body {
    position: absolute;
    top: 30px;
    border-top: 1px solid #ddd;
    left: 0;
    right: 0;
    bottom: 0;
  }
}



.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &_item {
    margin: 0 3px;
    display: flex;
    &:before {
      content: '#';
      color: #777;
      margin-right: 3px;
    }
  }

  &_remove {
    vertical-align: top;
    margin: 1px 0 0 3px;
    display: inline-block;
    opacity: 0;
    transition: opacity .3s;
    font-size: 12px;
    cursor: pointer;
    background: #eee;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include icon-before('delete_line')
    &:hover {
      background: #ddd;
    }
    
  }
  &:hover &_remove {
    opacity: 1;
  };
}

.selection {
  line-height: 18px;
  display: flex;
  padding-left: 2px;

  @include icon-before('documents_line') {
    vertical-align: top;
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin-right: 5px;
    opacity: .5;
    margin-top: 1px;
  }

  &-everything:before {
    @include icon('documents_line');
  }

  &-inbox:before {
    @include icon('inbox_line');
  }

  &-archive:before {
    @include icon('archive_line');
  }

  &-favorite:before {
    @include icon('star_line');
  }

  &-any:before {
    @include icon('documents_line');
  }

  &-internetaddress:before {
    @include icon('document_line');
  }

  &-statement:before {
    @include icon('quote');
  }

  &-question:before {
    @include icon('question');
  }

  &-hypothesis:before {
    @include icon('hypothesis');
  }

  &-tag:before {
    @include icon('tag_line');
  }

  .hui_selection_item.hui_selected & {
    &:before {
      opacity: 1;
    }

    &-everything:before {
      @include icon('documents_line_selected');
    }

    &-inbox:before {
      @include icon('inbox_line_selected');
    }

    &-archive:before {
      @include icon('archive_line_selected');
    }

    &-favorite:before {
      @include icon('star_line_selected');
    }

    &-any:before {
      @include icon('documents_line_selected');
    }

    &-internetaddress:before {
      @include icon('document_line_selected');
    }

    &-tag:before {
      @include icon('tag_line_selected');
    }
  }
}

.perspective {
  padding-bottom: 60px;
  
  &_title {
    margin: 10px auto;
    padding: 5px 20px 5px 10px;
    max-width: 500px;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: text;

    &_text {
      white-space: pre-wrap;
      font-family: $book-font;
      line-height: 1.3;
      font-size: 18px;
      text-align: center;
      font-weight: normal;
    }

    &:hover {
      background: rgb(250,250,250);
    }

    &_edit {
      position: absolute;
      @include icon-before('edit') {
        vertical-align: middle;
      };
      right: 5px;
      top: 50%;
      color: #777;
      font-size: 14px;
      margin-top: -10px;
      line-height: 1;
      text-align: center;
      width: 20px;
      height: 20px;
      opacity: 0;
      cursor: pointer;
      border-radius: 3px;
      padding: 2px;
      box-sizing: border-box;
      &:hover {
        background: rgba(220,220,220,.7);
        color: #333;
      }
    }

    &:hover &_edit {
      opacity: 1;
    }

    textarea {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: -0.2em;
      padding: 0;
      resize: none;
      -webkit-appearance: none;
      border: none;
      display: none;
      margin: 0;
      background: inherit;
      color: inherit;
      width: 100%;
      box-sizing: border-box;
      padding: 5px 20px 5px 10px;
    }
    &.is-active textarea {
      display: block;
    }

    &.is-active div.perspective_title_text {
      color: transparent;
    }
  }

  &_heading {
    font-family: 'Inter', sans-serif;
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    margin: 20px 10px 10px;
  }
  
  &_relations {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &_relation {
    font-family: 'Lora', Georgia, serif;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    line-height: 18px;

    &:hover {
      background: rgb(250,250,250);
    }

    &_message {
      color: #777;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      text-align: center;
    }

    &_info {
      color: #777;
      font-size: 12px;
      font-family: 'Inter', sans-serif;
    }

    &_remove {
      @include icon-before('delete_line') {
        vertical-align: top;
      }
      vertical-align: top;
      line-height: 1;
      position: absolute;
      font-size: 14px;
      top: 50%;
      right: 5px;
      margin-top: -10px;
      padding: 3px;
      border-radius: 3px;
      opacity: 0;
      color: #777;
      background: rgba(250,250,250,.5);
      &:hover {
        background: rgba(220,220,220,.7);
        color: #333;
      }
    }
    &:hover &_remove {
      opacity: 1;
    }
  }

  &_actions {
    text-align: center;
    margin: 10px;
  }
}

.multiple_selection {
  &_item {
    cursor: pointer;
    padding: 3px 7px;
    border-radius: 3px;
    &:hover {
      background: #f3f3f3;
    };
  }
}

.intro {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
  color: #777;

  &_graphic {
    @include icon-before('app_knowledge') {
      font-size: calc(max(12vw,80px));
    }
  }

  &_title {
    font-size: calc(max(3.5vw,24px));
    font-weight: 500;
  }

  ul {
    list-style: none;
    text-align: center;
    padding: 0 20px;
    margin: 20px 0 0;
    font-weight: 300;
  }

  li {
    margin: 5px 0;
  }

  em {
    font-weight: 500;
    font-style: normal;
  }
}

.warning {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
  color: #777;

  @include icon-before('warning') {
    font-size: 68px;
  }
  &_title {
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0 5px;
  }
}

.add_intro {
  text-align: center;
  font-size: 12px;
  color: #777;
  line-height: 1.4;
  margin-bottom: 5px;
}

.internetaddress {
  margin: 20px auto;
  max-width: 700px;
  padding: 20px;
  .tags {
    margin: -10px 0 10px;
    justify-content: start;
  }

  &_head {
    margin: 0 0 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 0 4px;
    
    a {
      color: #777;
      text-decoration: none;
      font-size: 12px;
      &:hover {
        border-bottom: 1px solid rgba(0,0,0,.1);
      }
    }
  }
}

.plain {
  font-family: $mono-font;
  white-space: pre-wrap;
  line-height: (18 / 14);
}

.article {
  font-family: $book-font;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-word;

  h1 {
    margin: 0 0 20px;
    font-size: 28px;
    line-height: 1.1;
    font-family: $heading-font;
  }

  h2 {
    font-size: 20px;
    margin: 2em 0 0;
    line-height: 1.1;
  }

  p {
    margin: 1em 0;
  }

  > hr {
    border: none;
    border-top: 1px solid $view-line-color;
    margin: 40px 0;
  }

  a {
    color: #1577d0;
    text-decoration-color: #c8d6e2;
    &:hover {
      text-decoration-color: #1577d0;
    }
  }

  pre {
    font-size: 14px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    color: #008e3f;
    background: #f5f2e2;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 1em -10px;
  }

  blockquote {
    border-left: 4px dotted #ece9d7;
    padding-left: 20px;
    margin: 1em 20px;
  }

  ul, ol, menu {
    padding-left: 20px;
    margin: 10px 0;
  }

  &_statement {
    background: rgba(255, 238, 0, 0.5);
    font-style: normal;
    border-radius: 6px;
    padding: 2px 3px;
    margin: 0 -3px;
    transition: background-color .3s;
    cursor: pointer;

    &.is-highlighted {
      background-color: #FF92AB;
      color: #940028;
    }
  }

  &_hypothesis {
    background: rgba(175, 191, 40, 0.5);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px;
    transition: background-color .3s;

    &.is-highlighted {
      background-color: #FF92AB;
      color: #940028;
    }
  }

  &_word {
    background-color: #f3f3f3;
    padding: 0 3px;
    margin: 0 -3px;
    border-radius: 10px;
  }

  .person {
    background: rgba(0, 90, 255, 0.1);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px;

    &:before {
      content: 'P';
      display: inline-block;
      background: rgb(109, 150, 226);
      border-radius: 2px;
      font-size: 11px;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      color: #fff;
      text-align: center;
      font-family: Verdana;
      line-height: 12px;
      margin-right: 0.3em;
      border: 1px solid rgb(94, 129, 195);
    }
  }

  .noun {
    background: rgba(0, 90, 255, 0.1);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px;
  }

  .sentence {
    background: none;

    &:before {
      content: '{';
      color: #999;
    }

    &:after {
      content: '}';
      color: #999;
    }
  }

  &_picture {
    display: inline-block;
    position: relative;
    background: $view-dark-background-color;
    width: 100%;
    font-size: 0;

    &_body {
      display: inline-block;
    }

    &_image {
      position: absolute;
      width: 100%;
      height: auto;
    }
  }

  &_image {
    height: auto;
    max-width: 100%;
    filter: grayscale(1);
  }
}

@media (min-width: 900px) {
  .perspective {
    &_title_text {
      line-height: 1.1;
      font-size: 2vw;
      font-size: calc(max(18px, min(2vw, 32px)));
    }
  }
  .article {
    h1 {
      font-size: 42px;
    }
  }
}