@import 'shared';

.reader_view {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  z-index: 200;
  background-color: $view-background-color;

  &.is-locked::before {
    content: '';
    //background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &_text {
    font-family: 'Monaco', monospace;
    padding: 20px;
    color: $view-text-color;

    > p {
      margin: 0 0 20px;
      line-height: 1.5;

      &:last-child {
        margin: 0;
      }
    }
  }

  &_formatted {
    padding: 20px;
    color: $view-text-color;
  }

  &_footer {
    background: $view-dark-background-color;
    padding: 20px 40px;
    display: none;
  }

  &_quote {
    position: relative;
    margin: 10px 0 10px 0px;
    padding-bottom: 10px;
    color: $view-text-color;

    &:before {
      @include icon('quote');
      position: absolute;
      margin-left: -30px;
      font-size: 20px;
      line-height: 1em;
      top: -1px;
      color: $view-effect-color;
    }

    &.is-not-found {
      text-decoration: line-through;
    }

    &_icon {
      margin-left: 5px;
      text-decoration: none;
      color: $view-dimmed-color;
      margin-top: -2px;
      cursor: pointer;
    }

    &:hover &_icon {
      color: $view-action-color;

      &:hover {
        color: $view-action-color-hover;
      }
    }
  }

  &_close {
    text-decoration: none;
    color: $view-action-color;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;

    &:hover {
      color: $view-action-color-hover;
    }
  }
  &_content {
    padding: 0;
    top: 65px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    position: absolute;
    background-color: #FFFCEC;
    -webkit-overflow-scrolling: touch;
  }

  &_perspective {
    display: none;

    &_web {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &_content.is-show-formatted > &_perspective_formatted,
  &_content.is-show-text > &_perspective_text,
  &_content.is-show-web > &_perspective_web {
    display: block;
  }
}

@include if(( width: 700px )) {
  .reader_view {
    &_formatted, &_text {
      padding: 40px;
    }
  }
}