.photos_layout {
  margin-bottom: 40px; }

@media (min-width: 700px) {
  .photos_layout_split {
    display: flex; }
    .photos_layout_split_main {
      flex-basis: 80%; }
    .photos_layout_split_aside {
      border-left: 1px solid #eee;
      flex-basis: 20%; } }
