.photos_layout {
  margin-bottom: 40px;
}

@media (min-width: 700px) {
  .photos_layout_split {
    display: flex;
  }
  .photos_layout_split_main {
    flex-grow: 1;
    word-break: break-word;
  }
  .photos_layout_split_aside {
    border-left: 1px solid #eee;
    flex-basis: 280px;
    flex-shrink: 0;
    word-break: break-word;
  }
}