.photos_profile {
  overflow: hidden;
}
.photos_profile_body {
  margin-left: 90px;
}
.photos_profile_photo {
  float: left;
}
.photos_profile_name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 3px;
}
.photos_profile_username {
  color: #555;
}
.photos_profile_username:before {
  content: "@";
  margin-right: 3px;
}
.photos_profile_link {
  margin: 5px 0 0;
}