.reader_head {
  position: absolute;
  height: 65px;
  border-bottom: 1px solid $view-line-color;
  width: 100%;
  box-sizing: border-box;
  background: $view-dark-background-color;

  &_title {
    font-size: 24px;
    font-weight: 200;
    margin: 0 40px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 32px;
    padding: 5px 0 0 10px;
    color: $view-text-color;
  }

  &_url {
    font-size: 11px;
    margin: 5px 320px 0 0;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;

    > a {
      text-decoration: none;
      color: $view-dark-dimmed-color;
    }
  }
}

.reader_head_info {

  &:hover {
    p > a {
      color: #8C876C;
      box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
      &:hover {
        color: #36f;
      }
    }
  }
}


.reader_head_actions {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0;
}

.reader_head_action {
  color: $view-dark-action-color;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: $view-dark-action-color-hover;
  }

  &:active {
    transform: scale(.8);
  }

  &.oo_icon-selected {
    color: $view-action-selected-color;

    &:hover {
      color: $view-action-selected-color-hover;
    }
  }
}