@use '../../../../core/web/scss/shared' as *;
@use 'shared' as *;

.reader_text {

  font-family: 'Merriweather';
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-word;

  h1 {
    margin: 0 0 20px;
    font-size: 28px;
    line-height: 1.1;
  }

  h2 {
    font-size: 20px;
    margin: 2em 0 0;
    line-height: 1.1;
  }

  p {
    margin: 1em 0;
  }

  > hr {
    border: none;
    border-top: 1px solid $view-line-color;
    margin: 40px 0;
  }

  a {
    color: #1577d0;
    text-decoration-color: #c8d6e2;
    &:hover {
      text-decoration-color: #1577d0;
    }
  }

  pre {
    font-size: 14px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    color: #008e3f;
    background: #f5f2e2;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 1em -10px;
  }

  blockquote {
    border-left: 4px dotted #ece9d7;
    padding-left: 20px;
    margin: 1em 20px;
  }

  ul, ol, menu {
    padding-left: 20px;
    margin: 10px 0;
  }

  &_statement {
    background: rgba(255, 203, 0, 0.5);
    font-style: normal;
    border-radius: 6px;
    padding: 2px 3px;
    margin: 0 -3px;
    transition: background-color .3s;

    &.is-highlighted {
      background-color: #FF92AB;
      color: #940028;
    }
  }

  &_hypothesis {
    background: rgba(175, 191, 40, 0.5);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px;
    transition: background-color .3s;

    &.is-highlighted {
      background-color: #FF92AB;
      color: #940028;
    }
  }

  &_word {
    background-color: rgb(245, 241, 223);
    padding: 0 3px;
    margin: 0 -3px;
    border-radius: 10px;
  }

  .person {
    background: rgba(0, 90, 255, 0.1);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px;

    &:before {
      content: 'P';
      display: inline-block;
      background: rgb(109, 150, 226);
      border-radius: 2px;
      font-size: 11px;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      color: #fff;
      text-align: center;
      font-family: Verdana;
      line-height: 12px;
      margin-right: 0.3em;
      border: 1px solid rgb(94, 129, 195);
    }
  }

  .noun {
    background: rgba(0, 90, 255, 0.1);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px;
  }

  .sentence {
    background: none;

    &:before {
      content: '{';
      color: #999;
    }

    &:after {
      content: '}';
      color: #999;
    }
  }

  &_picture {
    display: inline-block;
    position: relative;
    background: $view-dark-background-color;
    width: 100%;
    font-size: 0;

    &_body {
      display: inline-block;
    }

    &_image {
      position: absolute;
      width: 100%;
      height: auto;
    }
  }

  &_image {
    height: auto;
    max-width: 100%;
    filter: grayscale(1) sepia(0.2);
    -webkit-filter: grayscale(1) sepia(0.2);
  }
}

@media (min-width: 700px) {
  .reader_text {
    h1 {
      font-size: 42px;
    }
  }
}