.buttons {
  text-align: right;
  margin: 10px 0 0;
}

.buttons a.oo_link {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-right: 15px;
}

.current_user {
  margin: 10px 0;
}