body
{
  margin: 0;
  font-family: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;
  background: #fff !important;
}

.container {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 0;
  right: 0;
  text-align: center;
}

#logo
{
  width: 340px;
  height: 340px;
  display: inline-block;
  position: relative;
}

#logo span.oo_icon
{
  display: inline-block;
  width: 340px;
  height: 340px;
  font-size: 300px;
  line-height: 340px;
  color: #ddd;
}


h1
{
  font-size: 90px;
  font-weight: 100;
  color: #777;
  top: 30%;
  width: 100%;
  text-align: center;
  line-height: 1;
  margin: -10px 0;
  cursor: default;
  font-family: 'Work Sans';
}


#slogan
{
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #777;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  cursor: default;
  font-size: 18px;
  top: 30%;
  margin-top: 20px;
  background: #fff;
}

ul
{
  -webkit-user-select: none;
  display: block;
  list-style: none;
  margin: 0;
  text-align: center;
  position: fixed;
  bottom: 4%;
  width: 100%;
  padding: 0;
  font-size: 0;
}

ul li
{
  display: inline-block;
  text-align: center;
  width: 100px;
  overflow: hidden;
  padding: 20px 0;
}

ul a
{
  outline: none;
  display: block;
  text-decoration: none;
  color: #aaa;
  -webkit-transition-property: -webkit-transform, color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-property: -moz-transform, color;
  -moz-transition-duration: 0.5s;
}

ul a:focus
{
  text-shadow: 0 0 5px #46f;
  color: #46a;
}

ul a strong
{
  font-weight: 400;
  font-size: 18px;
  display: block;
  -webkit-font-smoothing: antialiased;
}

ul a:hover
{
  color: #46a;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
}

.language
{
  position: fixed;
  bottom: 10px;
  right: 15px;
  margin: 0;
  font-size: 0;
}

.language a
{
  font-size: 12px;
  color: #eee;
  color: rgba(0,0,0,.1);
  padding: 7px;
}

.language a span
{
  color: #666;
}

.language a:hover,
.language a:hover span
{
  color: #333;
}

@media screen and (max-height: 600px) {

  .container {
    margin-top: -250px;
  }

  #logo
  {
    width: 260px;
    height: 260px;
  }

  #logo span.oo_icon
  {
    width: 260px;
    height: 260px;
    font-size: 220px;
    line-height: 260px;
  }

  h1 {
    font-size: 80px;
  }
}

@media screen and (max-height: 500px) {

  .container {
    margin-top: -200px;
  }

  #logo
  {
    width: 200px;
    height: 200px;
  }

  #logo span.oo_icon
  {
    width: 200px;
    height: 200px;
    font-size: 180px;
    line-height: 200px;
  }

  h1 {
    font-size: 70px;
  }
}

@media screen and (max-height: 400px) {

  .container {
    margin-top: -180px;
  }

  #logo
  {
    width: 160px;
    height: 160px;
  }

  #logo span.oo_icon
  {
    width: 160px;
    height: 160px;
    font-size: 140px;
    line-height: 160px;
  }

  h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 70px;
  }

  .language {
    left: 0;
    right: 0;
    text-align: center;
  }
  ul {
    bottom: 7%;
  }
}


@media screen and (max-width: 500px) {
  h1 {
    font-size: 58px;
  }
}

@media screen and (max-width: 400px) {

  .container {
    margin-top: -200px;
  }

  #logo
  {
    width: 200px;
    height: 200px;
  }

  #logo .hui_drawing {
    margin: 0;
    top: 0;
    left: 0;
  }

  #logo span.oo_icon
  {
    width: 200px;
    height: 200px;
    font-size: 180px;
    line-height: 200px;
  }

  h1 {
    font-size: 42px;
  }
  ul li {
    width: 90px;
  }
}