.root {
  display: flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-evenly; }

.container {
  text-align: center;
  position: relative;
  padding-bottom: 40px; }

.logo {
  width: 70vw;
  height: 45vh;
  max-height: 400px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
  .logo .hui_drawing {
    margin: 0 auto; }
  .logo .oo_icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 40vh;
    line-height: 1em;
    color: #ddd; }

.title {
  font-size: 14vw;
  font-weight: 200;
  color: #777;
  top: 30%;
  width: 100%;
  text-align: center;
  line-height: 1;
  margin: 0 0 -10px 0;
  cursor: default;
  font-family: 'Work Sans'; }

.slogan {
  line-height: 24px;
  font-weight: 300;
  color: #777;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  cursor: default;
  font-size: 4vw;
  bottom: 0;
  position: absolute;
  margin-top: 20px;
  background: #fff; }

.icons {
  -webkit-user-select: none;
  display: block;
  list-style: none;
  margin: 15px 0;
  text-align: center;
  bottom: 60px;
  width: 100%;
  padding: 0;
  font-size: 0; }

li {
  display: inline-block;
  text-align: center;
  width: 90px; }

.icon {
  outline: none;
  display: block;
  text-decoration: none;
  color: #777;
  transition-property: transform, color;
  transition-duration: 0.5s; }
  .icon:focus {
    text-shadow: 0 0 5px #46f;
    color: #46a; }
  .icon:hover {
    color: #46a;
    transform: scale(1.3); }
  .icon strong {
    font-weight: 400;
    font-size: 18px;
    display: block;
    -webkit-font-smoothing: antialiased; }

.footer {
  opacity: .5; }
  .footer .oo_footer {
    padding-top: 0; }
  .footer .oo_footer_logo {
    display: none; }

@media (min-width: 450px) {
  .slogan {
    font-size: 18px; }
  li {
    width: 100px; } }

@media (min-width: 500px) {
  .title {
    font-weight: 100; } }

@media (min-width: 600px) {
  .title {
    font-size: 84px; } }
