.reader_text {
  font-family: 'Merriweather';
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-word; }
  .reader_text h1 {
    margin: 0 0 20px;
    font-size: 28px;
    line-height: 1.1; }
  .reader_text h2 {
    font-size: 20px;
    margin: 2em 0 0;
    line-height: 1.1; }
  .reader_text p {
    margin: 1em 0; }
  .reader_text > hr {
    border: none;
    border-top: 1px solid #ECE5D5;
    margin: 40px 0; }
  .reader_text a {
    color: #1577d0;
    text-decoration-color: #c8d6e2; }
    .reader_text a:hover {
      text-decoration-color: #1577d0; }
  .reader_text pre {
    font-size: 14px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    color: #008e3f;
    background: #f5f2e2;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 1em -10px; }
  .reader_text blockquote {
    border-left: 4px dotted #ece9d7;
    padding-left: 20px;
    margin: 1em 20px; }
  .reader_text ul, .reader_text ol, .reader_text menu {
    padding-left: 15px;
    margin: 10px 0; }
  .reader_text_statement {
    background: rgba(255, 203, 0, 0.5);
    font-style: normal;
    border-radius: 6px;
    padding: 2px 3px;
    margin: 0 -3px;
    transition: background-color .3s; }
    .reader_text_statement.is-highlighted {
      background-color: #FF92AB;
      color: #940028; }
  .reader_text_hypothesis {
    background: rgba(175, 191, 40, 0.5);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px;
    transition: background-color .3s; }
    .reader_text_hypothesis.is-highlighted {
      background-color: #FF92AB;
      color: #940028; }
  .reader_text_word {
    background-color: #f5f1df;
    padding: 0 3px;
    margin: 0 -3px;
    border-radius: 10px; }
  .reader_text .person {
    background: rgba(0, 90, 255, 0.1);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px; }
    .reader_text .person:before {
      content: 'P';
      display: inline-block;
      background: #6d96e2;
      border-radius: 2px;
      font-size: 11px;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      color: #fff;
      text-align: center;
      font-family: Verdana;
      line-height: 12px;
      margin-right: 0.3em;
      border: 1px solid #5e81c3; }
  .reader_text .noun {
    background: rgba(0, 90, 255, 0.1);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px; }
  .reader_text .sentence {
    background: none; }
    .reader_text .sentence:before {
      content: '{';
      color: #999; }
    .reader_text .sentence:after {
      content: '}';
      color: #999; }
  .reader_text_picture {
    display: inline-block;
    position: relative;
    background: #F5F2E2;
    width: 100%;
    font-size: 0; }
    .reader_text_picture_body {
      display: inline-block; }
    .reader_text_picture_image {
      position: absolute;
      width: 100%;
      height: auto; }
  .reader_text_image {
    height: auto;
    max-width: 100%;
    filter: grayscale(1) sepia(0.2);
    -webkit-filter: grayscale(1) sepia(0.2); }

@media (min-width: 700px) {
  .reader_text h1 {
    font-size: 42px; } }
