.account {
  padding: 20px 20px 20px; }

.account_invitation_form {
  margin-top: 20px; }

.account_invitation_text {
  margin: 20px 0; }

.account_minor {
  color: #777;
  font-size: 13px;
  margin-top: 5px; }

@media screen and (min-width: 620px) {
  .account_message {
    margin-left: -15px;
    margin-right: -15px; } }

.account_change {
  margin-left: 10px; }

.account_agreements_toc {
  list-style: none;
  padding: 0; }
  .account_agreements_toc > li {
    display: inline-block;
    margin-right: 20px; }

.account_agreements hr {
  margin: 40px 0; }

.account_agreements h1 {
  font-size: 2em;
  line-height: 1; }

.account_agreements h2 {
  font-size: 1.2em; }

.account_agreements h3 {
  font-size: 1em; }
