@use '../../../../core/web/scss/shared' as *;
@use 'sass:list';

@include if {

  .front_mac {
    font-family: $prose-font-family;
    background: #fff;
    padding: 10px;

    &_title {
      text-align: center;
      line-height: 1;
      margin: 10px 0;

      span {
        display: block;
        &:nth-child(1) {
          font-size: 6vw;
          font-weight: 300;
        }
        &:nth-child(2) {
          font-size: 15vw;
          font-weight: 600;
        }
        &:nth-child(3) {
          font-size: 7vw;
          font-weight: 600;
        }
      }
    }

    &_icon {
      background: url('/gfx/icon_512x512@2x.png') 50% no-repeat;
      background-size: contain;
      height: 45vh;
      max-height: 512px;
      margin: 0 auto;
    }

    &_download {
      margin: 40px auto;
      text-align: center;
    }
    &_store {
      margin: 40px auto;
      text-align: center;
      font-size: 0;

      &_button {
        display: inline-block;
        height: 48px;
        width: 188px;
        background: url('/gfx/mac_app_store.svg') 50% no-repeat;
        background-size: contain;
        color: transparent;
        
      }
    }
    &_text {
      max-width: 800px;
      margin: 20px auto;
      padding: 0 20px;
      font-size: 14pt;
      text-align: center;
      p {
        margin: 10px 0;
      }
    }

    &_screen {
      background: 50% no-repeat;
      background-size: contain;
      height: 50vw;
      min-height: 200px;

      &-knowledge {
        background-image: url('/gfx/screen.png');
        max-height: 632px;
      }

      &-safari {
        background-image: url('/gfx/safari_screen.png');
        max-height: 582px;
      }
    }

    &_heading {
      font-size: 10vw;
      font-weight: 600;
      line-height: 1;
      text-align: center;
      margin: -0.2em 0 0;
    }

    &_divider {
      border: none;
      border-top: 1px solid #ddd;
      max-width: 300px;
      margin: 30px auto;
    }

    &_colors {
      span {
        display: inline-block;
        padding: 2px 1px;
        line-height: 1;
        text-align: center;
        min-width: 12px;
        box-sizing: border-box;
        //font-weight: bold;
        $colors: #73C25C #FDC333 #F99427 #E7524F #A856A9 #26AEE3;

        @each $color in $colors {
            $i: list.index($colors, $color);
            &:nth-child(#{$i}) {
              border-bottom: 4px solid $color;
              //color: $color;
            }
        }
      }
    }
  }
}

@include if ((width: 600px)) {
  .front_mac {
    &_title {
      span {
        &:nth-child(1) {
          font-size: 36px;
        }
        &:nth-child(2) {
          font-size: 90px;
        }
        &:nth-child(3) {
          font-size: 42px;
        }
      }
    }
    &_heading {
      font-size: 60px;
    }
    &_divider {
      max-width: 300px;
      margin: 60px auto;
    }
  }
}