@import '../../../../core/web/scss/shared';

.photos_layout
{
  margin-bottom: 40px;
}

@media(min-width: 700px) {
  

  .photos_layout_split {
    display: flex;
  
    &_main {
      flex-basis: 80%;
    }
  
    &_aside {
      border-left: 1px solid $divider-color;
      flex-basis: 20%;
    }
    
  }
  
}