@use '../../../../core/web/scss/shared' as *;


.photos_sidebar {

  &_profile {
    padding: 10px;
    text-align: center;

    &_body {
      margin-top: 10px;
    }

    &_name {
      margin: 0 0 3px;
      font-size: 16px;
      font-weight: 500;
      line-height: 14px;
      font-weight: 400;
    }

    &_user {
      &:before {
        content: '@';
        margin-right: 3px;
      }
      margin: 5px 0;
      color: $dimmed-color;
    }

    &_link {
      margin: 5px 0;
    }
  }

  &_title {
    border-bottom: 1px solid #eee;
    margin: 20px 0 10px;
    position: relative;
    &_text {
      position: absolute;
      background: #fff;
      margin: 0;
      font-size: 14px;
      line-height: 1;
      margin-top: -8px;
      padding: 0 4px;
      margin-left: 20px;
      font-weight: normal;
      color: #999;
    }
  }
  &_galleries {
    ul {
      list-style: none;
      padding: 0;
      margin-top: 20px;
    }
    li {
      margin: 5px 20px;
    }
  }
}



.photos_sidebar_title_action
{
  position: absolute;
  right: 5px;
  top: -11px;
  color: #ddd;
  font-size: 0;
  background: #fff;
  padding: 3px;
}

.photos_sidebar_cloud {
  text-align: center;
  font-size: 14px;
  padding: 0 10px 20px;

  & > a {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    padding: 0 1px;
    line-height: 18px;
  }
  
  &_0 { font-size: .8em; color: #aaa;}
  &_1 { font-size: 1em; color: #999;}
  &_2 { font-size: 1.2em; color: #888;}
  &_3 { font-size: 1.3em; color: #777; }
  &_4 { font-size: 1.4em; color: #666; }
  &_5 { font-size: 1.5em; color: #555; }
  &_6 { font-size: 1.6em; color: #444; }
  &_7 { font-size: 1.7em; color: #333; }
  &_8 { font-size: 1.8em; color: #222; }
  &_9 { font-size: 1.9em; color: #111; }
  &_10 { font-size: 2em; color: #000; }
}












