@import 'shared';

@include when {
  .words_list {
    color: #ddd;
    font-size: 16px;
    margin: 10px 0 20px 0;
    padding: 0;
    list-style: none;

    em {
      font-style: normal;
      /*border-bottom: 1px dashed red;*/
      background: rgba(255, 215, 5, 0.3);
      padding: 0 2px;
      margin: 0 -2px;
      border-radius: 5px;
    }

    &_item {
      margin: 8px 0;
      padding-left: 20px;
      text-indent: -20px;
      border-bottom: 1px solid #eee;
      padding-bottom: 5px;
    }

    &_info {
      color: #999;
      font-size: 12px;
    }

    &_glossary {
      color: #ccc;
      margin-left: 10px;
      line-height: 14px;
      font-size: 12px;

      span {
        font-size: 13px;
        color: #333;
        margin-left: 5px;
      }
    }

    &_unvalidated {
      color: red;
    }
  }




}

@include when(( width : 600px )) {

  .words_list {
    list-style: disc;
    margin-top: 20px;
    margin-left: 25px;

    &_item {
      border: none;
      padding-bottom: 0;
    }
  }

}