@charset "UTF-8";
@font-face {
  font-family: 'OnlineObjects';
  src: url("/core/fonts/onlineobjects/fonts/OnlineObjects.eot?v2");
  src: url("/core/fonts/onlineobjects/fonts/OnlineObjects.eot?#iefix") format("embedded-opentype"), url("/core/fonts/onlineobjects/fonts/OnlineObjects.woff?v2") format("woff"), url("/core/fonts/onlineobjects/fonts/OnlineObjects.ttf?v2") format("truetype"), url("/core/fonts/onlineobjects/fonts/OnlineObjects.svg?v2#OnlineObjects") format("svg");
  font-weight: normal;
  font-style: normal; }

.hui_foundation_navigation .hui_selection {
  padding: 5px;
  font-family: inherit; }
  .hui_foundation_navigation .hui_selection_item {
    border-radius: 5px;
    padding: 3px 5px;
    font-family: inherit; }
    .hui_foundation_navigation .hui_selection_item.hui_selected, .hui_foundation_navigation .hui_selection_item.hui_selected:hover {
      background: none;
      box-shadow: none;
      color: #36f;
      font-weight: 600; }
    .hui_foundation_navigation .hui_selection_item:hover, .hui_foundation_navigation .hui_selection_item.hui_selected:hover {
      background: #f6f6f6; }

.list_empty {
  padding: 20px;
  text-align: center;
  line-height: 18px;
  margin-bottom: 10px; }
  .list_empty_text {
    display: none; }
    .list_empty_text > p {
      margin: 5px 0; }

.list_add {
  padding: 10px;
  text-align: center; }

.list_item {
  border-bottom: 1px solid #eee;
  padding: 5px 20px 5px 8px;
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-family: "Lora", Georgia, serif;
  font-size: 16px;
  word-break: break-word; }
  .list_item:hover {
    background: #f6f6f6; }
  .list_item:after {
    opacity: .3;
    position: absolute;
    top: 7px;
    right: 5px;
    font-size: 14px;
    line-height: 14px; }
  .list_item-selected {
    background: #36f;
    color: #fff; }
    .list_item-selected:hover {
      background: #36f; }
    .list_item-selected:after {
      opacity: .7; }
  .list_item-statement:after {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .list_item-question:after {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .list_item-internetaddress:after {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .list_item-hypothesis:after {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .list_item_favorite {
    font-size: 14px;
    display: flex;
    color: #ffbe00;
    float: right;
    margin: 1px 2px; }
    .list_item_favorite:before {
      content: "";
      font-family: 'OnlineObjects';
      display: inline-block;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      line-height: 1;
      font-weight: normal; }
  .list_item_inbox {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1; }

.selection {
  line-height: 20px;
  font-size: 14px;
  display: flex;
  padding-left: 4px; }
  .selection:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-weight: normal;
    vertical-align: top;
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin-right: 7px;
    opacity: .5;
    margin-top: 0px;
    text-align: center;
    line-height: 20px; }
  .selection-everything:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .selection-inbox:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .selection-archive:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .selection-favorite:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .selection-any:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .selection-internetaddress:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .selection-statement:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .selection-question:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .selection-hypothesis:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .selection-tag:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .selection-word:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .hui_selection_item.hui_selected .selection:before {
    opacity: 1; }
  .hui_selection_item.hui_selected .selection-everything:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .hui_selection_item.hui_selected .selection-inbox:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .hui_selection_item.hui_selected .selection-archive:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .hui_selection_item.hui_selected .selection-favorite:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .hui_selection_item.hui_selected .selection-any:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .hui_selection_item.hui_selected .selection-internetaddress:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
  .selection_more {
    font-size: 12px;
    align-self: center;
    margin-left: 4px;
    color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .3s; }
    .selection_more:hover {
      color: black; }
  .selection:hover .selection_more {
    opacity: 1; }

.relations {
  display: flex;
  margin: 5px -3px;
  flex-wrap: wrap; }
  .perspective .relations {
    justify-content: center;
    margin: 5px 0; }
  .relations_item {
    margin: 0 3px;
    display: flex; }
    .relations_item-tag:before {
      content: "";
      font-family: 'OnlineObjects';
      display: inline-block;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      color: #777;
      margin-right: 3px; }
    .relations_item-word:before {
      content: "";
      font-family: 'OnlineObjects';
      display: inline-block;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      color: #777;
      margin-right: 3px; }
  .relations_remove {
    vertical-align: top;
    margin: -1px -5px 0 -5px;
    display: inline-block;
    opacity: 0;
    transition: opacity .3s;
    font-size: 12px;
    cursor: pointer;
    background: #eee;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .relations_remove:before {
      content: "";
      font-family: 'OnlineObjects';
      display: inline-block;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      line-height: 1;
      font-weight: normal; }
    .relations_remove:hover {
      background: #ddd; }
  .relations:hover .relations_remove {
    opacity: 1; }

.perspective {
  padding-bottom: 60px; }
  .perspective_title {
    margin: 10px auto;
    padding: 5px 20px 5px 10px;
    max-width: 500px;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: text; }
    .perspective_title_text {
      white-space: pre-wrap;
      font-family: "Lora", Georgia, serif;
      line-height: 1.3;
      font-size: 18px;
      text-align: center;
      font-weight: normal; }
    .perspective_title:hover {
      background: #fafafa; }
    .perspective_title_edit {
      position: absolute;
      right: 5px;
      top: 50%;
      color: #777;
      font-size: 14px;
      margin-top: -10px;
      line-height: 1;
      text-align: center;
      width: 20px;
      height: 20px;
      opacity: 0;
      cursor: pointer;
      border-radius: 3px;
      padding: 2px;
      box-sizing: border-box; }
      .perspective_title_edit:before {
        content: "=";
        font-family: 'OnlineObjects';
        display: inline-block;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
        line-height: 1;
        font-weight: normal;
        vertical-align: middle; }
      .perspective_title_edit:hover {
        background: rgba(220, 220, 220, 0.7);
        color: #333; }
    .perspective_title:hover .perspective_title_edit {
      opacity: 1; }
    .perspective_title textarea {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: -0.2em;
      padding: 0;
      resize: none;
      -webkit-appearance: none;
      border: none;
      display: none;
      margin: 0;
      background: inherit;
      color: inherit;
      width: 100%;
      box-sizing: border-box;
      padding: 5px 20px 5px 10px; }
    .perspective_title.is-active textarea {
      display: block; }
    .perspective_title.is-active div.perspective_title_text {
      color: transparent; }
  .perspective_heading {
    font-family: 'Inter', sans-serif;
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    margin: 20px 10px 10px; }
  .perspective_relations {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px; }
  .perspective_relation {
    font-family: 'Lora', Georgia, serif;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    line-height: 18px; }
    .perspective_relation:hover {
      background: #fafafa; }
    .perspective_relation_message {
      color: #777;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      text-align: center; }
    .perspective_relation_info {
      color: #777;
      font-size: 12px;
      font-family: 'Inter', sans-serif; }
    .perspective_relation_remove {
      vertical-align: top;
      line-height: 1;
      position: absolute;
      font-size: 14px;
      top: 50%;
      right: 5px;
      margin-top: -10px;
      padding: 3px;
      border-radius: 3px;
      opacity: 0;
      color: #777;
      background: rgba(250, 250, 250, 0.5); }
      .perspective_relation_remove:before {
        content: "";
        font-family: 'OnlineObjects';
        display: inline-block;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
        line-height: 1;
        font-weight: normal;
        vertical-align: top; }
      .perspective_relation_remove:hover {
        background: rgba(220, 220, 220, 0.7);
        color: #333; }
    .perspective_relation:hover .perspective_relation_remove {
      opacity: 1; }
  .perspective_actions {
    text-align: center;
    margin: 10px; }

.intro {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
  color: #777; }
  .intro_graphic:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-weight: normal;
    font-size: calc(max(12vw,80px)); }
  .intro_title {
    font-size: calc(max(3.5vw,24px));
    font-weight: 500; }
  .intro ul {
    list-style: none;
    text-align: center;
    padding: 0 20px;
    margin: 20px 0 0;
    font-weight: 300; }
  .intro li {
    margin: 5px 0; }
  .intro em {
    font-weight: 500;
    font-style: normal; }

.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff; }
  .root_body {
    position: absolute;
    top: 30px;
    border-top: 1px solid #ddd;
    left: 0;
    right: 0;
    bottom: 0; }

.multiple_selection_item {
  cursor: pointer;
  padding: 3px 7px;
  border-radius: 3px; }
  .multiple_selection_item:hover {
    background: #f3f3f3; }

.warning {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
  color: #777; }
  .warning:before {
    content: "w";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-weight: normal;
    font-size: 68px; }
  .warning_title {
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0 5px; }

.add_intro {
  text-align: center;
  font-size: 12px;
  color: #777;
  line-height: 1.4;
  margin-bottom: 5px; }

.internetaddress {
  margin: 20px auto;
  max-width: 700px;
  padding: 20px; }
  .internetaddress .tags {
    margin: -10px 0 10px;
    justify-content: start; }
  .internetaddress_head {
    margin: 0 0 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 0 4px; }
    .internetaddress_head a {
      color: #777;
      text-decoration: none;
      font-size: 12px; }
      .internetaddress_head a:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.plain {
  font-family: "Menlo", "Monaco", "Courier", monospace;
  white-space: pre-wrap;
  line-height: 1.2857142857; }

.article {
  font-family: "Lora", Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-word; }
  .article h1 {
    margin: 0 0 20px;
    font-size: 28px;
    line-height: 1.1;
    font-family: "Playfair Display", "Lora", Georgia, serif; }
  .article h2 {
    font-size: 20px;
    margin: 2em 0 0;
    line-height: 1.1; }
  .article p {
    margin: 1em 0; }
  .article > hr {
    border: none;
    border-top: 1px solid #ECE5D5;
    margin: 40px 0; }
  .article a {
    color: #1577d0;
    text-decoration-color: #c8d6e2; }
    .article a:hover {
      text-decoration-color: #1577d0; }
  .article pre {
    font-size: 14px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    color: #008e3f;
    background: #f5f2e2;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 1em -10px; }
  .article blockquote {
    border-left: 4px dotted #ece9d7;
    padding-left: 20px;
    margin: 1em 20px; }
  .article ul, .article ol, .article menu {
    padding-left: 20px;
    margin: 10px 0; }
  .article_statement {
    background: rgba(255, 238, 0, 0.5);
    font-style: normal;
    border-radius: 6px;
    padding: 2px 3px;
    margin: 0 -3px;
    transition: background-color .3s;
    cursor: pointer; }
    .article_statement.is-highlighted {
      background-color: #FF92AB;
      color: #940028; }
  .article_hypothesis {
    background: rgba(175, 191, 40, 0.5);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px;
    transition: background-color .3s; }
    .article_hypothesis.is-highlighted {
      background-color: #FF92AB;
      color: #940028; }
  .article_word {
    background-color: #f3f3f3;
    padding: 0 3px;
    margin: 0 -3px;
    border-radius: 10px; }
  .article_tag {
    background-color: #f3f3f3;
    padding: 0 3px;
    margin: 0 -3px;
    border-radius: 10px; }
  .article .person {
    background: rgba(0, 90, 255, 0.1);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px; }
    .article .person:before {
      content: 'P';
      display: inline-block;
      background: #6d96e2;
      border-radius: 2px;
      font-size: 11px;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      color: #fff;
      text-align: center;
      font-family: Verdana;
      line-height: 12px;
      margin-right: 0.3em;
      border: 1px solid #5e81c3; }
  .article .noun {
    background: rgba(0, 90, 255, 0.1);
    font-style: normal;
    border-radius: 6px;
    padding: 0 3px;
    margin: 0 -3px; }
  .article .sentence {
    background: none; }
    .article .sentence:before {
      content: '{';
      color: #999; }
    .article .sentence:after {
      content: '}';
      color: #999; }
  .article_picture {
    display: inline-block;
    position: relative;
    background: #F5F2E2;
    width: 100%;
    font-size: 0; }
    .article_picture_body {
      display: inline-block; }
    .article_picture_image {
      position: absolute;
      width: 100%;
      height: auto; }
  .article_image {
    height: auto;
    max-width: 100%;
    filter: grayscale(1); }

@media (min-width: 900px) {
  .perspective_title_text {
    line-height: 1.1;
    font-size: 2vw;
    font-size: calc(max(18px, min(2vw, 32px))); }
  .article h1 {
    font-size: 42px; } }
