@font-face {
  font-family: 'OnlineObjects';
  src: url("/core/fonts/onlineobjects/fonts/OnlineObjects.eot?v2");
  src: url("/core/fonts/onlineobjects/fonts/OnlineObjects.eot?#iefix") format("embedded-opentype"), url("/core/fonts/onlineobjects/fonts/OnlineObjects.woff?v2") format("woff"), url("/core/fonts/onlineobjects/fonts/OnlineObjects.ttf?v2") format("truetype"), url("/core/fonts/onlineobjects/fonts/OnlineObjects.svg?v2#OnlineObjects") format("svg");
  font-weight: normal;
  font-style: normal; }

.oo_body {
  font-family: "Inter", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  font-size: 14px;
  line-height: 1.1428571429; }
  .oo_body-light {
    background: #fff; }

.hui_button, .hui_form, .hui_textinput, .hui_panel_titlebar {
  font-family: "Inter", "Helvetica Neue", "Helvetica", Arial, sans-serif !important; }

/*
.hui_button {
  @include text-spacing;
}
.oo_body {
  .hui_form_field_label {
    font-size: 14px;
    line-height: 20px;
  }
  .hui_textinput {
    font-size: 14px;
  }
  .hui_checkbox_label {
    font-size: 14px;
  }
  .hui_button {
    font-size: 10pt;
  }
}*/
.error {
  text-align: left;
  width: 450px;
  margin: 0 auto 0;
  position: relative;
  top: 100px;
  padding: 40px 20px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center; }
  .error:before {
    content: "w";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-weight: normal;
    font-size: 80px;
    display: block;
    color: #ddd; }
  .error_title {
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0px 10px; }
  .error_status {
    color: #ddd;
    font-size: 12px;
    margin: 10px 0px; }
  .error_trace {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    line-height: 20px;
    height: 200px;
    border: 1px solid #eee;
    white-space: nowrap;
    display: none; }
    .error_trace:focus {
      position: absolute;
      border-width: 1px 0px 1px 0px;
      left: 0px;
      height: 400px; }
