.oo_header {
  margin: 0;
  font-family: "Hind Siliguri"; }
  .oo_header-0 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    text-align: center; }
  .oo_header-1 {
    font-size: 28px;
    font-weight: 300;
    line-height: 1; }
  .oo_header-2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px; }
  .oo_header-3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px; }

@media screen and (min-width: 600px) {
  .oo_header-0 {
    font-size: 42px;
    line-height: 40px; }
    .oo_box .oo_header-0:first-child {
      margin-top: -10px; }
  .oo_header-1 {
    font-size: 36px;
    line-height: 40px; }
  .oo_header-2 {
    font-size: 24px;
    line-height: 1; }
  .oo_header-3 {
    font-size: 18px;
    line-height: 1; } }
