@charset "UTF-8";
.oo_link {
  color: #07f;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .oo_link:hover {
    color: #038;
    border-color: #038; }
  .oo_link-back:before {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-weight: normal;
    color: #333;
    font-size: 0.7142857143em;
    margin-right: 0.3em;
    margin-top: -.1em; }
  .oo_link-arrow:after {
    content: "";
    font-family: 'OnlineObjects';
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-weight: normal;
    color: #777;
    font-size: 0.7142857143em;
    margin-left: 0.2em;
    margin-top: -.1em; }
  .oo_link-subtle {
    color: #000; }
