.oo_space_top {
  margin-top: 10px; }

.oo_space_top-2 {
  margin-top: 20px; }

.oo_space_bottom {
  margin-bottom: 10px; }

.oo_space_bottom-2 {
  margin-bottom: 20px; }

.oo_space_bottom-3 {
  margin-bottom: 30px; }
