.oo_text {
  font-size: 16px; }
  .oo_text > p {
    margin: 5px 0; }
  .oo_text > h1 {
    margin: 0 0 10px; }
  .oo_text > h2 {
    margin: 20px 0 10px; }
  .oo_text > blockquote {
    margin: 5px 20px; }
  .oo_text > hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd; }
  .oo_text > *:first-child {
    margin-top: 0; }
  .oo_text > *:last-child {
    margin-bottom: 0; }
