.oo_topbar {
  font-family: "Hind Vadodara", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  overflow: hidden;
  border-bottom: 1px solid #fafafa;
  height: 30px;
  font-size: 0;
  white-space: nowrap;
  -moz-transition: background 1s, border-color 1s, opacity 1s, box-shadow 1s;
  -o-transition: background 1s, border-color 1s, opacity 1s, box-shadow 1s;
  -webkit-transition: background 1s, border-color 1s, opacity 1s, box-shadow 1s;
  transition: background 1s, border-color 1s, opacity 1s, box-shadow 1s; }
  .oo_topbar:hover {
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd; }
  .oo_topbar_logo {
    display: inline-block;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    padding: 0 5px 0 10px;
    font-size: 12pt;
    color: #bbb;
    text-decoration: none;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .oo_topbar_logo:hover {
      background: #f3f3f3;
      color: #333; }
    .oo_topbar_logo_icon {
      font-family: 'OnlineObjects';
      font-style: normal;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      margin: 4px 0 0 -2px;
      vertical-align: top;
      display: inline-block;
      font-size: 22px;
      width: 22px;
      height: 22px;
      line-height: 1; }
    .oo_topbar_logo_text {
      display: none; }
  .oo_topbar_item {
    display: inline-block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    text-decoration: none;
    color: #bbb;
    font-weight: 300; }
    .oo_topbar_item:hover {
      background: #f3f3f3;
      color: #333; }

.oo_topbar_drop {
  position: fixed;
  top: -110%;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  transition-property: top, background-color;
  transition-duration: .7s;
  overflow: auto;
  box-sizing: border-box;
  font-size: 0;
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  z-index: 9999; }
  .oo_topbar_drop.is-visible {
    top: 0%;
    background-color: rgba(255, 255, 255, 0.95);
    transition-duration: .3s; }
    .oo_topbar_drop.is-visible .oo_topbar_drop_link {
      transform: scale(1);
      opacity: 1;
      transition-delay: .2s; }
  .oo_topbar_drop_title {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    padding: 10px;
    display: block;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .oo_topbar_drop_close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 10px;
    color: #999; }
  .oo_topbar_drop_link {
    box-sizing: border-box;
    display: inline-block;
    padding: 20px 10px;
    color: #666;
    text-decoration: none;
    width: 100px;
    text-align: center;
    transform: scale(0.5);
    opacity: .5;
    transition: transform .3s, opacity .3s;
    transition-delay: .3s; }
  .oo_topbar_drop_icon {
    display: inline-block;
    font-size: 42px;
    width: 42px;
    height: 42px; }
  .oo_topbar_drop_label {
    margin-top: 5px;
    display: block;
    font-size: 16px; }

.oo_topbar_menu {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0; }
  .oo_topbar_menu_item {
    display: none; }
    .oo_topbar_menu_item.is-selected {
      display: inline-block; }
  .oo_topbar_menu_link {
    text-decoration: none; }
    .oo_topbar_menu_link.is-selected {
      font-weight: 400;
      color: #333;
      position: relative;
      padding-right: 25px; }
      .oo_topbar_menu_link.is-selected:after {
        content: '';
        border: 6px solid #000;
        border-color: #aaa transparent transparent;
        position: absolute;
        top: 13px;
        right: 5px; }

.oo_topbar_right {
  list-style: none;
  margin: 0;
  padding: 0 5px 0 0;
  font-size: 11pt;
  right: 0;
  top: 0;
  height: 30px;
  line-height: 30px;
  position: absolute; }
  .oo_topbar_right_item {
    display: inline-block; }

.oo_topbar_user_icon {
  margin-right: 4px;
  margin-top: 7px;
  vertical-align: top; }

.oo_topbar_inbox {
  height: 20px;
  background: #eee;
  line-height: 20px;
  font-size: 11px;
  vertical-align: top;
  margin-top: 6px;
  border-radius: 10px;
  padding: 0 5px;
  margin-right: 3px;
  font-weight: normal;
  display: inline-block;
  text-decoration: none;
  color: #999; }
  .oo_topbar_inbox:hover {
    background: #ddd; }

/** Info panel **/
.oo_topbar_info {
  overflow: hidden;
  font-family: "Hind Vadodara", "Helvetica Neue", "Helvetica", Arial, sans-serif; }
  .oo_topbar_info_busy {
    height: 60px;
    background: url("../../../hui/gfx/progress/spinner_white_24.gif") center center no-repeat; }
  .oo_topbar_info_photo {
    width: 60px;
    height: 60px;
    float: left;
    font-size: 0; }
    .oo_topbar_info_photo_img {
      width: 60px;
      height: 60px;
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      overflow: hidden;
      background: #eee;
      background-size: contain; }
  .oo_topbar_info_content {
    margin-left: 70px;
    padding-bottom: 10px; }
  .oo_topbar_info_name {
    font-size: 16px;
    font-weight: 400;
    margin: -3px 0 0; }
  .oo_topbar_info_username {
    color: #666;
    margin: 0;
    font-size: 14px; }
  .oo_topbar_info_account {
    margin: 3px 0 0;
    font-size: 14px; }
  .oo_topbar_info_buttons {
    font-size: 0;
    text-align: right; }
    .oo_topbar_info_buttons a {
      margin-left: 5px; }

/************ Login *************/
.oo_topbar_login_success {
  height: 50px;
  font-size: 12pt;
  color: #999;
  text-align: center;
  line-height: 50px; }

.oo_topbar_forgot {
  font-size: 9pt;
  float: right;
  margin-top: 10px; }
  .oo_topbar_forgot_intro {
    font-size: 14px;
    line-height: 12pt;
    text-align: center;
    margin: 5px 0 20px;
    color: #333; }

@media screen and (min-width: 500px) {
  .oo_topbar_item {
    padding: 0 10px; }
  .oo_topbar_logo_text {
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;
    margin-left: 5px; }
  .oo_topbar_logo_part {
    font-weight: 400; } }
@media screen and (min-width: 700px) {
  .oo_topbar_menu_item {
    display: inline-block; }
  .oo_topbar_menu_link.is-selected {
    padding-right: 10px; }
    .oo_topbar_menu_link.is-selected:after {
      display: none; } }
