.oo_text {
  margin: 0;
  font-size: 16px; }
  .oo_text > p {
    margin: 5px 0; }
  .oo_text > blockquote {
    margin: 5px 20px; }
  .oo_text > *:first-child {
    margin-top: 0; }
  .oo_text > *:last-child {
    margin-bottom: 0; }
